<div class="container mt-5">
    <mat-card>
        <form (ngSubmit)="makeRequest(frm)" #frm="ngForm">
            <mat-card-title>Information to send</mat-card-title>
            <mat-card-subtitle>Add the necesary inputs to send to API and select the request method</mat-card-subtitle>
            <mat-card-content>
                <div class="row" *ngFor="let field of numberOfFields">
                    <div class="col-3">
                        <mat-form-field>
                            <input required name="key{{ field }}" ngModel matInput placeholder="Write key....">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <input required name="val{{ field }}" ngModel matInput placeholder="Write key value...">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-3 mt-2">
                        <button type="button" (click)="addFields()" mat-raised-button class="pull-right">Add Fields</button>
                        <button type="button" (click)="removeFields()" mat-raised-button class="pull-right">Remove Fields</button>
                    </div>
                    <div class="col-6 offset-1">
                        <mat-form-field>
                            <mat-select name="method" required placeholder="Request Method" [(ngModel)]="selectedValue">
                                <mat-option *ngFor="let method of methods" [value]="method">
                                    {{ method }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button type="submit" mat-raised-button class="pull-right" color="primary">Send Request</button>
                    </div>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>