<div class="container mt-2">
    <mat-card>
        <mat-card-title>Historic</mat-card-title>
        <mat-card-subtitle>Every request made in this session</mat-card-subtitle>
        <mat-card-content>
            <table mat-table [dataSource]="historic" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef> Request Method </th>
                    <td mat-cell *matCellDef="let element"> {{element.method}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="fields">
                    <th mat-header-cell *matHeaderCellDef> Fields </th>
                    <td mat-cell *matCellDef="let element"> {{element.fields}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Duration (ms)</th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                    <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>